* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #691313;
    display: flex;
}

.big-quadrato {
    width: 602px;
    height: 602px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #fff;
}

.small {
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #691313;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.small:hover {
    background-color: #691313;
}
















/* END */
