* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #222;
    display: flex;
}

.big-quadrato {
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: #fff;
    /* border: 1px solid #fff; */
}

.small {
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #2222;
    cursor: pointer;
    transition: 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;
}

.small:hover {
    border: 2px solid #222;
    /* background-color: #a0a0a0; */
}

.giallo {
    background-color: orange;
}

.verde {
    background-color: #007a05;
}












/* END */
